* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body, html {
    height: 100%;
    font-size: 1.5vw ;
}


.bg1, #bg2, #bg2_1, #bg3, #bg3_1, #bg4, #bg5, #bg6, #bg7, #bg8 {
    background-size:cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-position: center bottom;
    position: absolute;
}

#bg3_1 {
  z-index: -2;
}

.bg1 {
background-image: url('imagens/bg1.png');
}

#bg2 {
  background-image: url('imagens/bg2.png');}

#bg2_1 {
  background-image: url('imagens/bg2_1.png');}

#bg4 {
  background-image: url('imagens/bg3.jpg');
}

#bg3, #bg3_1 {
  background-image: url('imagens/minigame/mg0.jpg');
}

#bg5 {
  background-image: url('imagens/bg5.jpg');
}

#bg6 {
  background-image: url('imagens/bg6.jpg');
}

#bg7 {
  background-image: url('imagens/bg7.jpg');
}

#bg8 {
  background-image: url('imagens/bg8.jpg');
}

.bg_top {
  position: center bottom;
  bottom: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 90;
}


.play, .jogar {
    width: 17%;
    height: 16%;
    z-index: 5;
    position: absolute; top: 40%; left: 25%;
    border-radius: 20px;
    border-style: solid;
    border-width: 2x;
    border-color: #BBE3F5;
}


.play:hover, .jogar:hover {
  opacity: 90%;
}

#times {
  display: none;
}

#logos-container {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
  height: auto;
}


#port, #port2 {
  position: absolute;
  display: block;
  width: 3.5%;
  top: 4%;
  right: 2.5%;
  z-index: 6;
  border-radius: 10px;
  border-width: 4px;
  border-color: #83B2E8;
  cursor: pointer;
}


#eng, #eng2 {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 3.5%;
  top: 4%;
  right: 8%;
  z-index: 6;
  border-radius: 10px;
  border-width: 4px;
  border-color: #83B2E8;
}

#eng:hover, #eng2:hover, #port:hover, #port2:hover  {
  opacity: 0.8;
}

#falas {
  display: none;
}

#container1 #falas {
  animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.dialogo_box {
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 9;
  width: 65%;
  bottom: 0px;
}

.spritedeli {
  position: absolute;
  left: 40vh;
  z-index: 1;
  height: 85vh;
  width:auto;
  bottom: 13vh;
}

.spritedeli2 {
  position: absolute;
  left: 0;
  z-index: 1;
  height: 85vh;
  width:auto;
  bottom: 0;
}

.spritedeli, .spritestudent {
  max-height: 100%;
  max-width: 100%;
}
.containerart {
  display: block;
}
.spritestudent {
  position: absolute;
  right: 40vh;
  z-index: 1;
  height: 85vh;
  bottom: 13vh;
}

.spritestudent2 {
  position: absolute;
  right: 0;
  z-index: 1;
  height: 85vh;
  bottom: 0;
}

#back, #student, #teacher {
  cursor: pointer;
  background-image: url('imagens/textura.png');
  background-size: cover;
  color: white;
  border: 2px solid #431441;
  border-radius: 10px;
  font-weight: 400;
  z-index: 120;
  position: absolute;
}

#back {
  top: 2%;
  left: 1%;
  width: 10%;
  height: 8%;
  font-size: 1.7vw;
}

#student {
  bottom: 2%;
  right: 8.3%;
  width: 9%;
  height: 7%;
  font-size: 1.5vw;
}

#teacher {
  bottom: 2%;
  left: 8.3%;
  width: 8%;
  height: 7%;
  font-size: 1.5vw;
}

.dialogo p, .dialogo2 p {
  position: absolute;
  left: 23%;
  bottom: 10%;
  margin: auto;
  z-index: 10;
  color: white;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 3.5s steps(60, end);
}

.dialogo button, .dialogo2 button {
  cursor: pointer;
  background-image: url('imagens/textura.png');
  background-size: cover;
  color: white;
  width: 7%;
  height: 7%;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  z-index: 120;
  position: absolute;
  bottom: 1%;
  font-size: 1.4vw;
}

.dialogo button:hover, .dialogo2 button:hover {
  opacity: 90%;
}

.dialogo2 {
  display: none;
}


.dialogo button:not(#skip), .dialogo2 button:not(#skip) {
  left: 70%;
}

#skip {
  left: 62%;
}

.dialogo > div:not(#p1), .dialogo2 > div:not(#p1) {
  display: none;
}






#appear {
  display: none;
}

#btn2 {
  display: none;
}

#agree1[type=checkbox]:checked, #agree2[type=checkbox]:checked ~ #btn2 {
  display: block;
}

.button-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group button {
  font-size: 1.5vw;
  width: 230px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  background-image:  url('imagens/textura.png');
  background-size:cover;
  color:white;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  z-index: 120;
}

.button-group #quizbutton button {
  margin-top: 20px;
}

.students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.student1, .student2, .student3 {
  display: inline-block;
  vertical-align: top;
  order: -1;
}

.student4, .student5 {
  display: inline-block;
  vertical-align: top;
  order: 1;
}

.students > div {
  margin: 20px;
}

.students img {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: auto;
}

.students p {
  margin: 2px 0;
  font-weight: 500;
  font-size: 1vw;
}

.students button {
  background-image: url('imagens/textura.png');
  margin: 5px 0;
  background-size: cover;
  font-weight: 600;
  color: white;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  z-index: 120;
  cursor: pointer;
}

#student_choose:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .student1, .student2, .student3, .student4, .student5 {
    display: block;
    order: unset;
  }
}


.students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.student1, .student2, .student3 {
  display: inline-block;
  vertical-align: top;
  order: -1;
}

.student4, .student5 {
  display: inline-block;
  vertical-align: top;
  order: 1;
}

.students > div {
  margin: 1%;
  width: 30%; /* added width to ensure the images don't get too small */
}

.students img {
  display: block;
  margin: 0 auto;
  width: 60%;
  height: auto;
}

.students p {
  margin: 2px 0;
  font-weight: 500;
  font-size: 1vw;
}

.students button {
  background-image: url('imagens/textura.png');
  margin: 5px 0;
  background-size: cover;
  font-weight: 600;
  color: white;
  width: 44%;
  height: auto;
  border: none;
  border-radius: 10px;
  padding: 2%;
  z-index: 120;
  cursor: pointer;
  font-size: 1.1vw;
}

#students button:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 768px) {
  .student1, .student2, .student3, .student4, .student5 {
    display: block;
    order: unset;
  }
}


#parent {
  position: relative;
  display: inline-block;
  left: 65%;
  top: 20%;
  transform: translate(-65%, -20%);
}


#checkbox {
  z-index: 16;
  position: absolute;
}


#paleta{
  width: auto;
  height: 60vh;
  position: absolute;
}


#checkbox1{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 7vh;
  left: 18vh;
}

#checkbox2{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 7vh;
  left: 30vh;
}

#checkbox3{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 12vh;
  left: 43vh;
}

#checkbox4{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 23vh;
  left: 49vh;
}

#checkbox5{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 35.5vh;
  left: 47vh;
}

#checkbox6{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 43vh;
  left: 33vh;
}

#checkbox7{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 17.5vh;
  left: 31vh;
}

#checkbox8{
  position: absolute;
  width: 7vh;
  height: 7vh;
  cursor: pointer;
  top: 30vh;
  left: 31.3vh;
}

#checkbox input[type="checkbox"] {
  opacity: 0;
}
#checkbox input[type="checkbox"]:checked {
  opacity: 1;
}

.papel {
  position: absolute;
  left: 3%;
  width: 28%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 105;
}

#calculadora {
  position: absolute;
  z-index: 50;
  top: 30vh;
  left: 7%;
}

#calculadora input, #calculadora button, #calculadora select{
  font-size: 17px;
}

#plates {
  z-index: 30;
}

#pizza {
  z-index: 35;
}

#pizza1, #pizza2, #pizza3, #pizza4 {
  display: none;
}


#plate1, #plate2, #pizza1, #pizza2 {
  top: 5%;
  position: absolute;
  width: 45vh;
}

#plate3, #plate4, #pizza3, #pizza4 {
  bottom: 5%;
  position: absolute;
  width: 45vh;

}

#plate1, #pizza1 {
  right: 70vh;
}

#plate2, #pizza2 {
  right: 20vh;
}

#plate3, #pizza3 {
  right: 70vh;
}

#plate4, #pizza4 {
  right: 20vh;
}

#animals {
  position: absolute;
  top: 8vh;
  z-index: 100;
  width: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

#animals img {
  display: block;
  margin: 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  margin: 0 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  right: 0;
  text-align: center;
  width: 15vh;
}


#message {
  background-image: url('imagens/namebox.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 279px;
  z-index: 900;
}


#message-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 35px;
  color: white;
  font-size: 1.5vw;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 4vh;
  height: 4vh;
  font-size: 1.4vw;
}



#aliments {
position: absolute;
bottom: 20px;
min-width: 20vh;
}
#aliments img {
  width: 50%;
  display: block;
  margin: auto;
}

#buttonleft {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid #64334c;
  border-bottom: 15px solid transparent;
  border-left: none;
  background-color: transparent;
  position: absolute;
  top: 33vh;
  left: 45vh;
}

#buttonright {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #64334c;
  border-bottom: 15px solid transparent;
  border-right: none;
  background-color: transparent;
  position: absolute;
  top: 200px;
  right: 280px;
}

#buttonleft:hover, #buttonright:hover {
  opacity: 0.8;
}



.image-container {
  position: absolute;
  left: 13%;
  bottom: 5%;
}

.image-container2 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40%;
}

.image-container img {
  width: 43vh;
}

.speech-bubble, .speech-bubble2 {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #64334c;
  border-radius: 10px;
  padding: 10px;
  max-width: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 20%;
  text-align: center;
  color: white;
  font-size: 1.3vw;
}

.speech-bubble {
  top: 30%;
  left: 40%;
}

.speech-bubble2 {
  top: 55%;
  left: 45%;
}


.speech-bubble::before, .speech-bubble2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #6A4056;
}
.buttons2 {
  position:absolute;
  display: flex;
  flex-direction: column;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.containerbuttons-flags {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 20vh;
  top: 20vh;
}


.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 20px; /* Add margin to create space between buttons and flags */
}

.button {
  margin-bottom: 2%;
  background-image: url('imagens/texture2.jpg');
  background-size: cover;
  border: none;
  padding: 6px;
  color: white;
  cursor: pointer;
  width: 450px;
  border-radius: 5px;
  font-size: 1.1vw;
}

.flags {
  display: flex;
}

.flags a {
  margin-right: 10px;
}

.flags img {
  height: 30px;
  width: auto;
  border-radius: 10px;
}

.flags a:hover img {
  opacity: 0.8;
}

#text1, #text2, #text3, #text4, #text5, #text6,#text7 {
  display: none;
}

.timeline {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 5px;
  background-color: #4D2B3E;
  transform: translateY(-50%);
}

.timeline-point {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7B4F66;
  margin-right: 40px;
  cursor: pointer;
}

.timeline-year {
  font-size: 1.3vw;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
  color: #562A57;
  white-space: nowrap;
}

.containerart {
  text-align: center;
  color: white;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.containerart button {
  cursor: pointer;
  background-image: url('imagens/textura.png');
  background-size: cover;
  color: white;
  width: 30%;
  height: 10%;
  border: none;
  border-radius: 10px;
  font-weight: 400;
  z-index: 120;
  font-size: 1.4vw;
  padding: 10px;
}

.containerart * {
  margin: 20px;
}

#container4, #quiz {
  display:none
}

.students p span {
  color: #64334c;
}



