* {
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

body, html {
    height: 100%;
}



.bg1, #bg2, #bg2_1, #bg3, #bg3_1, #bg4, #bg5, #bg6, #bg7 {
    background-size:cover;
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;
    background-position: center bottom;
    position: absolute;
}

#bg3_1 {
  z-index: -2;
}

.bg1 {
background-image: url('imagens/bg1.png');
}

#bg2 {
  background-image: url('imagens/bg2.png');}

#bg2_1 {
  background-image: url('imagens/bg2_1.png');}

#bg4 {
  background-image: url('imagens/bg3.jpg');
}

#bg3, #bg3_1 {
  background-image: url('imagens/minigame/mg0.jpg');
}

#bg5 {
  background-image: url('imagens/bg5.jpg');
}

#bg6 {
  background-image: url('imagens/bg6.jpg');
}

#bg7 {
  background-image: url('imagens/bg7.jpg');
}

.bg_top {
  position: center bottom;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 90;
}


.play {
    width: 220px;
    height: 100px;
    z-index: 5;
    position: absolute; top: 40%; left: 25%;
    background-image: url('imagens/play1.jpg');
    border-radius: 20px;
    border-style: solid;
    border-width: 4px;
    border-color: #BBE3F5;
}

.play:hover {
    background-image: url('imagens/play2.jpg');

}

.jogar {
  width: 220px;
  height: 100px;
  z-index: 5;
  position: absolute; top: 40%; left: 25%;
  background-image: url('imagens/jogar1.jpg');
  border-radius: 20px;
  border-style: solid;
  border-width: 4px;
  border-color: #BBE3F5;
}

.jogar:hover {
  background-image: url('imagens/jogar2.jpg');

}






#menuToggle a
{
  text-decoration: none;
  color: #232323;
}

#menuToggle a:hover
{
  color: tomato;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0; 
  top: 25px;
  right: 30px;
  z-index: 15;
}


.hamburger{
  position: absolute;
  display: block;
  width: 40px;
  height: 32px;
  top: 25px;
  right: 30px;
  z-index: 12;
}

.hamburger:hover {
  opacity: 80%;
}

#menu {
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  text-align: center;
  height: 100vh;
  list-style: none;
  background-color: #eee;
  display:none
}
@keyframes type{ 
  from { width: 0px; }
} 


input[type=checkbox]:checked ~ #menu {
    display: block;
    position: fixed;
    width: 180px;
    animation: type 1s; 
}


#menu a {
  border-bottom: 1.5px solid #ccc;
  font-style: bold;
  font-size: 20px;
  color: black; 
  display: block; 
  padding: 12px; 
  text-decoration: none; 
}

.first_a {
  margin-top: 90px;
}


#menu a:hover {
  background-color: #ccc; 
}

#times {
  display: none;
}

#logos-container {
  position: absolute;
  top: 2px;
  left: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 100%;
  height: auto;
}


#port, #port2 {
  position: absolute;
  display: block;
  width: 40px;
  height: 32px;
  top: 30px;
  right: 110px;
  z-index: 6;
  border-radius: 10px;
  border-width: 4px;
  border-color: #83B2E8;
  cursor: pointer;
}


#eng, #eng2 {
  cursor: pointer;
  position: absolute;
  display: block;
  width: 40px;
  height: 32px;
  top: 30px;
  right: 170px;
  z-index: 6;
  border-radius: 10px;
  border-width: 4px;
  border-color: #83B2E8;
}

#eng:hover, #eng2:hover, #port:hover, #port2:hover  {
  opacity: 0.8;
}


#container2, #container3 {
  display: none;
}

#falas {
    display: none;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

.dialogo_box {
    position: absolute; right: 0; left:0; margin: auto;
    z-index: 9;
    width: 65%;
    bottom: 0px;
}

.spritedeli {
  position: absolute; left:16%;
  z-index: 1;
  width: 370px;
  bottom: 0px;
}


.dialogo p{
    position: absolute; left: 23%; bottom:10%; margin: auto;
    z-index: 10;
    color: white;
    font-size: 21px;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    width: 30em;
    animation: type 3.5s steps(60, end); 
}


.dialogo button {
    cursor: pointer;
    background-image:  url('imagens/textura.png');
    background-size:cover;
    color:white;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    z-index: 120;
    position: absolute;
    bottom: 1%;
}

.dialogo button:not(#skip) {
  left: 70%;
}

#skip {
  left: 62%;
}


@keyframes type{ 
  from { width: 0; } 
} 


.dialogo button:hover, .button-group button:hover, .students button:hover {
    color: #DCC4C7;
    opacity: 0.8;     
}

#p2, #p3, #p4, #p5, #p6, #p7, #p8, #p9, #p10 {
    display: none;
}

#appear {
  display: none;
}

#btn2 {
  display: none;
}

#agree1[type=checkbox]:checked, #agree2[type=checkbox]:checked ~ #btn2 {
  display: block;
}

.button-group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-group button {
  width: 230px;
  height: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  background-image:  url('imagens/textura.png');
  background-size:cover;
  color:white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 400;
  z-index: 120;
}

.button-group #quiz {
  margin-top: 20px;
}

.students {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  }
  
  .student1, .student2, .student3 {
  display: inline-block;
  vertical-align: top;
  order: -1;
  }
  
  .student4, .student5 {
  display: inline-block;
  vertical-align: top;
  order: 1;
  }
  
  .students > div {
  margin: 20px;
  }

.student1, .student2, .student3 {
  display: inline-block;
  vertical-align: top;
}

.student4, .student5 {
  display: inline-block;
  vertical-align: top;

}

.students img {
  display: block;
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

.students p {
  margin: 2px 0;
  font-size: 13px;
  font-weight: 500;
}

.students button {
  background-image:  url('imagens/textura.png');
  margin: 5px 0;
  background-size:cover;
  font-size: 14px;
  font-weight: 600;
  color:white;
  width: 100px;
  height: 20px;
  border: none;
  border-radius: 10px;
  z-index: 120;
  cursor: pointer;
}

#student_choose:hover {
  opacity: 0.8;
}



#parent{
  position: relative;
  display: inline-block;
  left: 800px;
  top: 120px;
}


#checkbox {
  z-index: 16;
  position: absolute;
}


#paleta{
  width: 390px;
  height: 390px;
  position: absolute;
}


#checkbox1{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 53px;
  left: 105px;
}

#checkbox2{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 52px;
  left: 173px;
}

#checkbox3{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 80px;
  left: 248px;
}

#checkbox4{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 152px;
  left: 283px;
}

#checkbox5{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 232px;
  left: 271px;
}

#checkbox6{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 280px;
  left: 192px;
}

#checkbox7{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 117px;
  left: 179px;
}

#checkbox8{
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  top: 200px;
  left: 181px;
}


#checkbox input[type="checkbox"] {
  opacity: 0;
}
#checkbox input[type="checkbox"]:checked {
  opacity: 1;
}

#calculadora {
  position: absolute;
  z-index: 30;
  top: 160px;
  left: 115px;
}
#plates {
  z-index: 30;
}

#pizza {
  z-index: 35;
}

#pizza1, #pizza2, #pizza3, #pizza4 {
  display: none;
}


#plate1, #plate2, #pizza1, #pizza2 {
  top: 25px;
  position: absolute;
  width: 21%;
}

#plate3, #plate4, #pizza3, #pizza4 {
  bottom: 25px;
  position: absolute;
  width: 21%;

}

#plate1, #pizza1 {
  left: 540px;
}

#plate2, #pizza2 {
  left: 850px;
}

#plate3, #pizza3 {
  left: 540px;
}

#plate4, #pizza4 {
  left: 850px;
}


#animals {
  position: absolute;
  top: 45px;
  z-index: 100;
  width: 20%;
  left: 0;
  right: 0;
  margin: auto;
}

#animals img {
  display: block;
  margin: 0;
}

#buttons {
  display: flex;
  justify-content: center;
}

#buttons button {
  margin: 0 20px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  right: 0;
  text-align: center;
  width: 100px;
}


#message {
  background-image: url('imagens/namebox.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: 279px;
  z-index: 900;
}


#message-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  padding: 35px;
  color: white;
  font-size: 18px;
}

#close-btn {
  position: absolute;
  top: 0;
  right: 0;
}



#aliments {
position: absolute;
bottom: 20px;
}
#aliments img {
  width: 50%;
  display: block;
  margin: auto;
}

#buttonleft {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 30px solid #64334c;
  border-bottom: 15px solid transparent;
  border-left: none;
  background-color: transparent;
  position: absolute;
  top: 200px;
  left: 280px;
}

#buttonright {
  cursor: pointer;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-left: 30px solid #64334c;
  border-bottom: 15px solid transparent;
  border-right: none;
  background-color: transparent;
  position: absolute;
  top: 200px;
  right: 280px;
}

#buttonleft:hover, #buttonright:hover {
  opacity: 0.8;
}



.flags {
  position: absolute;
  bottom: 14%;
  right: 18%;
  display: flex;
}

.flags a {
  margin-right: 10px;
}

.flags img {
  height: 30px;
  width: auto;
  border-radius: 10px;
}
.flags a:hover img {
  opacity: 0.8;
}


.image-container {
  position: absolute;
  left: 190px;
  bottom: 10px;
}

.image-container2 {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 560px;
}

.image-container img {
  width: 38%;
}

.speech-bubble, .speech-bubble2 {
  position: absolute;
  transform: translate(-50%, -50%);
  background-color: #64334c;
  border-radius: 10px;
  padding: 10px;
  max-width: 50%;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  width: 270px;
  text-align: center;
  color: white;
}

.speech-bubble {
  top: 28%;
  left: 48%;
}

.speech-bubble2 {
  top: 300px;
  left: 600px;
}


.speech-bubble::before, .speech-bubble2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -10px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #6A4056;
}

.buttons {
  position:absolute;
  display: flex;
  flex-direction: column;
  right: 12%;
  top: 22%; 
}

.buttons2 {
  position:absolute;
  display: flex;
  flex-direction: column;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}

.button {
  margin-bottom: 10px;
  background-image: url('imagens/texture2.jpg');
  background-size:cover;
  border: none;
  padding: 8px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 380px;
  border-radius: 5px;
}

#text1, #text2, #text3, #text4, #text5, #text6,#text7 {
  display: none;
}

.timeline {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.timeline-line {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 5px;
  background-color: #4D2B3E;
  transform: translateY(-50%);
}

.timeline-point {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #7B4F66;
  margin-right: 40px;
  cursor: pointer;
}

.timeline-year {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  color: #4D2B3E;
}